@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/GT-Walsheim-Bold-subset.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/GT-Walsheim-Black-subset.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/GT-Walsheim-Medium-subset.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/GT-Walsheim-Regular-subset.woff2") format("woff2");
  font-weight: 400;
}

* {
  font-family: "GT Walsheim", sans-serif;
  margin: 0;
  padding: 0;
}